h1= title
p Welcome to #{title}


#portal
    .left_pane
        .top_left this is the top left box
        .bottom_left
            iframe(src="https://talkgadget.google.com/talkgadget/client")
    .map this is the map box
    

