include ../html/bootstrap.html
include ../html/imports.html

#header

.container-fluid
	.row-fluid
		.span4
			h3 Add A Rider
			.name Name
				br
				textarea(rows=1,id="requestee")
			.phone Phone
				br
				textarea(rows=1,id="phone_number")
			.num_riders Number of Riders
				br
				textarea(rows=1,id="num_riders")
			.address Pick-Up Address
				br
				textarea(rows=3,id="pick_up_address")
			.address Drop-Off Address
				br
				textarea(rows=3,id="drop_off_address")
			.submit
				input(type="submit",id="trip_request", class="btn")
		.span4
			.chat_frame
				iframe(src="https://talkgadget.google.com/talkgadget/client", class="chat")
		.span4
			.map_div
				include ../html/google_maps.html
	.row-fluid
		.span12
			include ../html/spreadsheet.html


