include ../html/bootstrap.html
include ../html/imports.html

#header

.container-fluid
    .sidebar
        .top_left
            h3 Add A Rider
            .name Name
                br
                input
            .address Address
                br
                textarea
             .submit
                input(type="submit")
        .bottom_left
            iframe(src="https://talkgadget.google.com/talkgadget/client", class="chat")
    .content
        .map_div
            iframe(src="google_maps.html", class="map")
    

