#header

#portal
    .left_pane
        .top_left
            .name Name
                input
            .address Address
                input
        .bottom_left
            iframe(src="https://talkgadget.google.com/talkgadget/client")
    .map this is the map box
    

