include ../html/bootstrap.html
include ../html/imports.html

#header

.container-fluid
    .sidebar
        .row
            h3 Add A Rider
            .name Name
                br
                input
            .address Pick-Up Address
                br
                textarea(rows=3)
            .address Drop-Off Address
                br
                textarea(rows=3)
             .submit
                input(type="submit")
        .row
            .bottom_left
                iframe(src="https://talkgadget.google.com/talkgadget/client", class="chat")
    .content
        .map_div
            iframe(src="google_maps.html", class="map")
    

