include ../html/bootstrap.html
include ../html/imports.html

.panel#RRContainer
	#header
	.panel#RRTools
		.pane#RRChatPane
			.chat
				iframe(src="https://talkgadget.google.com/talkgadget/client", class="chat")
		.pane#RRMapPane
			.map_div
				include ../html/google_maps.html
	.panel#RRSpreadsheet
		.pane#RRSpreadsheetPane
			include ../html/spreadsheet.html

	footer(class="footer")
		img(src="/images/logo.jpg", style="display:none;")
		#spreadsheet_data
