

a {
  color: #00B7FF;
}

.left_pane {
    position: absolute;
    width: 40%;
}

.sidebar {
    padding-left: 8px;
}

.bottom_left {
    height: 300px;
}

.map {
    float: right;
    width: 100%;
    height: 100%;
}

.map_div {
	height: 402px;
	width: 100%;
}

#header {
    background: url('../images/logo.jpg') no-repeat;
    height: 50px;
}

.chat {
    height: 402px;
    width: 100%;
}
#upper-row {
	height: 402px;
}
textarea {
    resize: none;
}